<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="logging.level.root" source="logging.level.root"/>
    <springProperty scope="context" name="logging.level.com.example" source="logging.level.com.example"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>myCustomLogs/application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${logging.level.root}">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.example" level="${logging.level.com.example}"/>

</configuration>
